# MacOS
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Editor
.vscode

# Jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.sass-cache
_site
Gemfile.lock

# Frontend
node_modules
package-lock.json
# package.json
