{% comment %}
    @param {boolean} bottom - bottom will render <hr>
{% endcomment %}

<section>
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <h5><a href="{% link archive.html %}">FEATURED TAGS</a></h5>
    <div class="tags">
        {% capture tags %}
        {% for tag in site.tags %}
        {% if tag[1].size > site.sidebar.featured-tags.condition-size %}
            <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
                href="{% link archive.html %}?tag={{ tag[0] | url_encode }}"
                title="{{ tag[0] }}"
                rel="{{ tag[1].size }}">{{ tag[0] }}</a>__SEPARATOR__
        {% endif %}
        {% endfor %}
        {% endcapture %}
        {{ tags | rstrip | split:'__SEPARATOR__' | sort_natural }}
    </div>
</section>
