<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% comment %}<meta name="google-site-verification" content="" />{% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keywords }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    {% case page.layout %}
    {% when 'post' %}
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200 }}">
    {% if page.date %}<meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}">{% endif %}
    {% if page.author %}<meta property="article:author" content="{{ page.author }}">{% endif %}
    {% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}">{% endfor %}
    {% else %}
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    {% endcase %}
    {% if site.sidebar.aboutme.enable %}<meta property="og:image" content="{{ site.sidebar.aboutme.avatar | absolute_url }}">{% endif %}
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:site_name" content="{{ site.title }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ '/assets/pwa/manifest.json' | relative_url }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/weplay.min.css" | relative_url }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
</head>
