{% if page.url == "/index.html" %}
    {% if site.verification.google %}<meta name="google-site-verification" content="{{ site.verification.google }}"/>{% endif %}
    {% if site.verification.bing %}<meta name="msvalidate.01" content="{{ site.verification.bing }}"/>{% endif %}
    {% if site.verification.baidu %}<meta name="baidu-site-verification" content="{{ site.verification.baidu }}"/>{% endif %}
    {% if site.verification.sogou %}<meta name="sogou_site_verification" content="{{ site.verification.sogou }}"/>{% endif %}
    {% if site.verification.so %}<meta name="360-site-verification"  content="{{ site.verification.so }}"/>{% endif %}
    {% if site.verification.shenma %}<meta name="shenma-site-verification" content="{{ site.verification.shenma }}"/>{% endif %}
{% endif %}
